body {
    background-color: yellowgreen;
}

.jumbotron {
    padding-top: 5rem;
    background: url(1.jpeg);
    background-size: cover;
}

#gallery {
    background-color: yellowgreen;
}

section {
    padding-top: 5rem;
}

#contact {
    background: url(1.jpeg);
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
    color: white;
}